* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.favorites-gallery {
  margin: 0;
  padding: 0;
  width: 73.38%;
  margin: auto;
  margin-top: 28px;
}

.favorites-gallery__favorites {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0px 2px 17px;
}

.fav-hidden {
  display: none;
}

.favorites-gallery__img-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .img-list__imgs {
    display: block;
    position: relative;
    width: 209px;
    height: 122px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #231f20;
  }

}

.imgs__item {
  display: block;
  background-color: transparent;
  margin-bottom: 30px;
}

.imgs__remove{
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.imgs__remove:after{
  content: '\2716';
}

.imgs__remove:hover {
  background-color: rgb(172, 73, 73);
}

.img-list__imgs:hover {
  .imgs__remove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}